##########################################################
## Clion / Jetbrains #####################################
##########################################################
/.idea/

##########################################################
## CMake Build ###########################################
##########################################################
/cmake-build-debug/
/cmake-build-release/
/cmake-build-dist/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

##########################################################
## Logs & Temporary ######################################
##########################################################
*.log
*.tmp

##########################################################
## System ################################################
##########################################################
.DS_Store
Thumbs.db